beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
et-xmlfile
exceptiongroup
fonttools
html5lib
idna
iniconfig
joblib
kiwisolver
lxml
matplotlib
numpy
openpyxl
packaging
pandas
pillow
pluggy
pyparsing
pytest
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
six
soupsieve
threadpoolctl
tomli
tzdata
urllib3
webencodings
seaborn
imbalanced-learn